canvas {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 4/3;
    width: auto;
    height: auto;
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    /* Dynamic Viewport Height for mobile browsers */
    width: 100vw;
    overflow: hidden;
    /* Prevent scrolling */
    touch-action: none;
    /* Prevent default touch actions like pull-to-refresh */
}